<!DOCTYPE html>
<html>
<head>
  <title>Flurboo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="cred_btns">
    <%= link_to home_path, class: "ui icon button" do %>
      <i class="small circular home icon"></i>
      <% end %>
    <%= link_to topics_path, class: "ui icon button" do %>
      <i class="small circular bookmark icon"></i>
      <% end %>
  <% if current_user %>
    <%= link_to bookmarks_path, class: "ui icon button" do %>
      <i class="small circular user icon"></i>
      <% end %>
    <%= link_to logout_path, class: "ui icon button" do %>
      <i class="small circular remove icon"></i>
      <% end %>
  <% else %>
    <%= link_to login_path, class: "ui icon button" do %>
      <i class="small circular sign in icon"></i>
      <% end %>
    <%= link_to signup_path, class: "ui icon button" do %>
      <i class="small circular up icon"></i>
    <% end %>
  <% end %>
  </ul>
    
<%= yield %>

</body>
</html>
