<!DOCTYPE html>
<html>
<head>
  <title>Flurboo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="cred_btns">
  <% if current_user %>
    <div class="ui icon button">
      <i class="fa fa-times"><%= link_to "", logout_path %></i>
    </div>
  <% else %>
    <div class="ui icon button">
      <i class="fa fa-check"><%= link_to "", login_path %></i>
    </div>
    <div class="ui icon button">
      <i class="fa fa-pencil"><%= link_to "", signup_path %></i>
    </div>
  <% end %>
  </div>

    
<%= yield %>

</body>
</html>
