<!DOCTYPE html>
<html>
<head>
  <title>Flurboo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="cred_btns">
    <%= link_to home_path, class: "ui icon button" do %>
      <i class="fa fa-home"></i>
      <% end %>
  <% if current_user %>
    <%= link_to logout_path, class: "ui icon button" do %>
      <i class="fa fa-times"></i>
      <% end %>
  <% else %>
    <%= link_to login_path, class: "ui icon button" do %>
      <i class="fa fa-check"></i>
      <% end %>
    <%= link_to signup_path, class: "ui icon button" do %>
      <i class="fa fa-pencil"></i>
    <% end %>
  <% end %>
  </div>

    
<%= yield %>

</body>
</html>
